/src/main/resources/application.properties

/.idea/.gitignore
/target/test-classes/com/example/fastfoodshop/restcontrollers/AbstractTest.class
/target/classes/application.properties
/target/surefire-reports/com.example.fastfoodshop.DataSourceTest.txt
/target/surefire-reports/com.example.fastfoodshop.FastfoodshopApplicationTests.txt
/target/surefire-reports/com.example.fastfoodshop.repositories.CustomerRepositoryTest.txt
/target/surefire-reports/com.example.fastfoodshop.repositories.ProductRepositoryTest.txt
/target/surefire-reports/com.example.fastfoodshop.restcontrollers.CustomerControllerTest.txt
/target/surefire-reports/com.example.fastfoodshop.restcontrollers.ProductControllerTest.txt
/.idea/compiler.xml
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/classes/com/example/fastfoodshop/domain/Customer.class
/target/classes/com/example/fastfoodshop/restcontrollers/CustomerController.class
/target/test-classes/com/example/fastfoodshop/restcontrollers/CustomerControllerTest.class
/target/classes/com/example/fastfoodshop/exceptions/CustomerNotFoundException.class
/target/classes/com/example/fastfoodshop/repositories/CustomerRepository.class
/target/test-classes/com/example/fastfoodshop/repositories/CustomerRepositoryTest.class
/target/classes/com/example/fastfoodshop/services/CustomerService.class
/target/test-classes/com/example/fastfoodshop/DataSourceTest.class
/.idea/dbnavigator.xml
/target/classes/com/example/fastfoodshop/services/DefaultCustomerService.class
/target/classes/com/example/fastfoodshop/services/DefaultOrderService.class
/target/classes/com/example/fastfoodshop/services/DefaultProductService.class
/.idea/encodings.xml
/target/fastfoodshop-0.0.1-SNAPSHOT.jar
/target/fastfoodshop-0.0.1-SNAPSHOT.jar.original
/target/classes/com/example/fastfoodshop/FastfoodshopApplication.class
/target/test-classes/com/example/fastfoodshop/FastfoodshopApplicationTests.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/test-classes/insertCustomer.sql
/target/test-classes/insertOrder.sql
/target/test-classes/insertProduct.sql
/.idea/jarRepositories.xml
/target/classes/com/example/fastfoodshop/security/KeyCloakConfig.class
/.idea/misc.xml
/target/classes/com/example/fastfoodshop/domain/Order.class
/target/classes/com/example/fastfoodshop/restcontrollers/OrderController.class
/target/test-classes/com/example/fastfoodshop/restcontrollers/OrderControllerTest.class
/target/classes/com/example/fastfoodshop/exceptions/OrderNotFoundException.class
/target/classes/com/example/fastfoodshop/repositories/OrderRepository.class
/target/test-classes/com/example/fastfoodshop/repositories/OrderRepositoryTest.class
/target/classes/com/example/fastfoodshop/services/OrderService.class
/target/maven-archiver/pom.properties
/target/classes/com/example/fastfoodshop/domain/Product.class
/target/classes/com/example/fastfoodshop/restcontrollers/ProductController.class
/target/test-classes/com/example/fastfoodshop/restcontrollers/ProductControllerTest.class
/target/classes/com/example/fastfoodshop/exceptions/ProductNotFoundException.class
/target/classes/com/example/fastfoodshop/repositories/ProductRepository.class
/target/test-classes/com/example/fastfoodshop/repositories/ProductRepositoryTest.class
/target/classes/com/example/fastfoodshop/services/ProductService.class
/target/test-classes/query.sql
/target/classes/com/example/fastfoodshop/security/SecurityConfig.class
/target/test-classes/spring.properties
/target/surefire-reports/TEST-com.example.fastfoodshop.DataSourceTest.xml
/target/surefire-reports/TEST-com.example.fastfoodshop.FastfoodshopApplicationTests.xml
/target/surefire-reports/TEST-com.example.fastfoodshop.repositories.CustomerRepositoryTest.xml
/target/surefire-reports/TEST-com.example.fastfoodshop.repositories.ProductRepositoryTest.xml
/target/surefire-reports/TEST-com.example.fastfoodshop.restcontrollers.CustomerControllerTest.xml
/target/surefire-reports/TEST-com.example.fastfoodshop.restcontrollers.ProductControllerTest.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
